@import '~antd/dist/antd.css';

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'PingFangSC', 'Roboto-Regular',
  'Roboto', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial', 'sans-serif';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI','Arial', 'Noto Sans',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}
