.UserDashboardTable {
  padding: 0px 5px;
}

.table-button {
  height: 30px;
  font-size: 12.5px;
  margin-right: 10px;
}

.table-button.export {
  margin-right: 0;
  float: right;
}

.ant-table-wrapper {
  padding: 5px;
}